In [6]:
def sum_of_list(lst):
    total = 0
    for item in lst:
        total += item
    return total

# Example usage
my_list = [1, 2, 3, 4, 5]
print("Sum of list:", sum_of_list(my_list))

Sum of list: 15

In [7]:
def find_min_max(lst):
    if len(lst) == 0:
        return None, None
    min_val = lst[0]
    max_val = lst[0]
    for item in lst:
        if item < min_val:
            min_val = item
        if item > max_val:
            max_val = item
    return min_val, max_val

# Example usage
my_list = [3, 5, 1, 2, 4, 8, 6]
min_val, max_val = find_min_max(my_list)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 1
Maximum value: 8

In [8]:
def find_duplicates(lst):
    duplicates = []
    seen = {}
    for item in lst:
        if item in seen:
            if item not in duplicates:
                duplicates.append(item)
        else:
            seen[item] = 1
    return duplicates

# Example usage
my_list = [1, 2, 3, 4, 5, 1, 2, 6, 7, 3]
print("Duplicates:", find_duplicates(my_list))

Duplicates: [1, 2, 3]

In [9]:
def split_list(lst, length_of_first_part):
    first_part = lst[:length_of_first_part]
    second_part = lst[length_of_first_part:]
    return first_part, second_part

# Example usage
original_list = [1, 1, 2, 3, 4, 4, 5, 1]
length_of_first_part = 3
first_part, second_part = split_list(original_list, length_of_first_part)
print("First part:", first_part)
print("Second part:", second_part)

First part: [1, 1, 2]
Second part: [3, 4, 4, 5, 1]

In [10]:
def traverse_in_reverse(lst):
    for i in range(len(lst)-1, -1, -1):
        print(f"Index {i}: {lst[i]}")

# Example usage
original_list = ['red', 'green', 'white', 'black']
print("Traverse the list in reverse order:")
traverse_in_reverse(original_list)

Traverse the list in reverse order:
Index 3: black
Index 2: white
Index 1: green
Index 0: red

In [11]:
test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}

def calculate_mean(dictionary):
    total = sum(dictionary.values())
    count = len(dictionary)
    mean = total / count
    return mean

print("Mean of the dictionary:", calculate_mean(test_dict))

Mean of the dictionary: 6.2

In [12]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

def concatenate_dicts(*dicts):
    result = {}
    for dictionary in dicts:
        result.update(dictionary)
    return result

concatenated_dict = concatenate_dicts(dic1, dic2, dic3)
print("Concatenated dictionary:", concatenated_dict)

Concatenated dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def display_dict(dictionary):
    print("Key\tValue")
    for key, value in dictionary.items():
        print(f"{key}\t{value}")

display_dict(dict_num)

Key	Value
1	10
2	20
3	30
4	40
5	50
6	60

In [14]:
input_dict = {1: 10, 2: 20, 3: None, 4: 40, 5: None, 6: 60}

def remove_none_values(dictionary):
    cleaned_dict = {k: v for k, v in dictionary.items() if v is not None}
    return cleaned_dict

cleaned_dict = remove_none_values(input_dict)
print("Dictionary with empty items dropped:")
display_dict(cleaned_dict)

Dictionary with empty items dropped:
Key	Value
1	10
2	20
4	40
6	60

In [15]:
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)
count_4 = tuplex.count(4)
print(count_4)

3

In [16]:
listx = [5, 10, 7, 4, 15, 3]
tuplex = tuple(listx)
print(tuplex)

(5, 10, 7, 4, 15, 3)

In [17]:
tuples_list = [(1, 2), (3, 4), (5, 6)]
total_sum = sum(sum(t) for t in tuples_list)
print(f"sum of tuple is : {total_sum}")

sum of tuple is : 21

In [18]:
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

employees = [employee1, employee2, employee3]

print("Employee Records :\n")
for employee in employees:
    name, emp_id, department, salary = employee
    print(f"Name : {name}")
    print(f"Employee ID : {emp_id}")
    print(f"Department : {department}")
    print(f"Salary : {salary}\n")

Employee Records :

Name : John Doe
Employee ID : 101
Department : Human Resources
Salary : 60000

Name : Alice Smith
Employee ID : 102
Department : Marketing
Salary : 55000

Name : Bob Johnson
Employee ID : 103
Department : Engineering
Salary : 75000

In [19]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

unique_items = set1.symmetric_difference(set2)
print(unique_items)

{20, 70, 10, 60}

In [20]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

unique_in_either = set1.symmetric_difference(set2)
print(unique_in_either)

{20, 70, 10, 60}

In [21]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

common_elements = set1.intersection(set2)
print(common_elements)

{10}

In [22]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

common_items = set1.intersection(set2)
print(common_items)

{40, 50, 30}