In [3]:
import pandas as pd
arr= [1,7,9,4,0,6]
srs = pd.Series(arr)
print(srs)
type(srs)

0    1
1    7
2    9
3    4
4    0
5    6
dtype: int64

pandas.core.series.Series

In [9]:
import pandas as pd 
months = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct']
sales=[3,5,8,9,3,6,2,5,0,5]
sales_srs = pd.Series(sales, index=months, name="SALES IN MONTHS")
print(sales_srs)

Jan     3
Feb     5
Mar     8
Apr     9
May     3
June    6
July    2
Aug     5
Sep     0
Oct     5
Name: SALES IN MONTHS, dtype: int64

In [10]:
import pandas as pd 
months = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct']
sales=[3,5,8,9,3,6,2,5,0,5]
sales_srs = pd.Series(sales, index=months, name="SALES IN MONTHS", dtype=int)
print(sales_srs)

Jan     3
Feb     5
Mar     8
Apr     9
May     3
June    6
July    2
Aug     5
Sep     0
Oct     5
Name: SALES IN MONTHS, dtype: int64

In [13]:
import pandas as pd
data = { 'Name': ['Ram', 'Shyam', 'Ghanshyam', 'Santa', 'Banta'],
        'Age':[45,33,56,76,69],
        'City': ['Delhi', 'noida','gaya', 'chipyana', 'mumbai']}

dataframe = pd.DataFrame(data)

print(dataframe)

        Name  Age      City
0        Ram   45     Delhi
1      Shyam   33     noida
2  Ghanshyam   56      gaya
3      Santa   76  chipyana
4      Banta   69    mumbai

In [18]:
import pandas as pd
data = { 'Name': ['Ram', 'Shyam', 'Ghanshyam', 'Santa', 'Banta'],
        'Age':[45,33,56,76,69],
        'City': ['Delhi', 'noida','gaya', 'chipyana', 'mumbai']}

dataframe = pd.DataFrame(data)
print('before Adding column')
print(dataframe)

dataframe['Height(inch)']= [45,57,56,49,67]
print(dataframe)

before Adding column
        Name  Age      City
0        Ram   45     Delhi
1      Shyam   33     noida
2  Ghanshyam   56      gaya
3      Santa   76  chipyana
4      Banta   69    mumbai
        Name  Age      City  Height(inch)
0        Ram   45     Delhi            45
1      Shyam   33     noida            57
2  Ghanshyam   56      gaya            56
3      Santa   76  chipyana            49
4      Banta   69    mumbai            67

In [21]:
import pandas as pd
data = { 'Name': ['Ram', 'Shyam', 'Ghanshyam', 'Santa', 'Banta'],
        'Age':[45,33,56,76,69],
        'City': ['Delhi', 'noida','gaya', 'chipyana', 'mumbai']}

dataframe = pd.DataFrame(data)
print('before Adding column')
print(dataframe)

dataframe['Height(inch)']= [45,57,56,49,67]
print(dataframe)

new_columns = { 'Gender': ['Female', 'Male', 'Male', 'Male','Female'], 'Grade': ['A', 'B', 'C', 'B','A']
}

dataframe['Gender'] = new_columns['Gender']
dataframe['Grade'] = new_columns['Grade']

print(dataframe)

before Adding column
        Name  Age      City
0        Ram   45     Delhi
1      Shyam   33     noida
2  Ghanshyam   56      gaya
3      Santa   76  chipyana
4      Banta   69    mumbai
        Name  Age      City  Height(inch)
0        Ram   45     Delhi            45
1      Shyam   33     noida            57
2  Ghanshyam   56      gaya            56
3      Santa   76  chipyana            49
4      Banta   69    mumbai            67
        Name  Age      City  Height(inch)  Gender Grade
0        Ram   45     Delhi            45  Female     A
1      Shyam   33     noida            57    Male     B
2  Ghanshyam   56      gaya            56    Male     C
3      Santa   76  chipyana            49    Male     B
4      Banta   69    mumbai            67  Female     A

In [20]:
import pandas as pd
data = { 'Name': ['Ram', 'Shyam', 'Ghanshyam', 'Santa', 'Banta'],
        'Age':[45,33,56,76,69],
        'City': ['Delhi', 'noida','gaya', 'chipyana', 'mumbai']}

dataframe = pd.DataFrame(data)
print('before Adding column')
print(dataframe)

dataframe['Height(inch)']= [45,57,56,49,67]
print(dataframe)
new_columns = { 'Gender': ['Female', 'Male', 'Male', 'Male','Female'], 'Grade': ['A', 'B', 'C', 'B','A']
}

dataframe['Gender'] = new_columns['Gender']
dataframe['Grade'] = new_columns['Grade']

print(dataframe)

dataframe.insert(1, 'Marks', [88,98,90,99,67])

print(dataframe)

before Adding column
        Name  Age      City
0        Ram   45     Delhi
1      Shyam   33     noida
2  Ghanshyam   56      gaya
3      Santa   76  chipyana
4      Banta   69    mumbai
        Name  Age      City  Height(inch)
0        Ram   45     Delhi            45
1      Shyam   33     noida            57
2  Ghanshyam   56      gaya            56
3      Santa   76  chipyana            49
4      Banta   69    mumbai            67
        Name  Age      City  Height(inch)  Gender Grade
0        Ram   45     Delhi            45  Female     A
1      Shyam   33     noida            57    Male     B
2  Ghanshyam   56      gaya            56    Male     C
3      Santa   76  chipyana            49    Male     B
4      Banta   69    mumbai            67  Female     A
        Name  Marks  Age      City  Height(inch)  Gender Grade
0        Ram     88   45     Delhi            45  Female     A
1      Shyam     98   33     noida            57    Male     B
2  Ghanshyam     90   56      gaya            56    Male     C
3      Santa     99   76  chipyana            49    Male     B
4      Banta     67   69    mumbai            67  Female     A

In [24]:
import pandas as pd
data = { 'Name': ['Ram', 'Shyam', 'Ghanshyam', 'Santa', 'Banta'],
        'Age':[45,33,56,76,69],
        'City': ['Delhi', 'noida','gaya', 'chipyana', 'mumbai']}

dataframe = pd.DataFrame(data)
print('Initial Data')
print(dataframe)

new_row =pd.DataFrame([{'Name':'pool','Age':45,'City':'NYC'}])

print(new_row)

dataframe= pd.concat([dataframe, new_row], ignore_index= True)
print("After Concatenate")
print(dataframe)

Initial Data
        Name  Age      City
0        Ram   45     Delhi
1      Shyam   33     noida
2  Ghanshyam   56      gaya
3      Santa   76  chipyana
4      Banta   69    mumbai
   Name  Age City
0  pool   45  NYC
        Name  Age      City
0        Ram   45     Delhi
1      Shyam   33     noida
2  Ghanshyam   56      gaya
3      Santa   76  chipyana
4      Banta   69    mumbai
5       pool   45       NYC

In [26]:
import pandas as pd
data = { 'Name': ['Ram', 'Shyam', 'Ghanshyam', 'Santa', 'Banta'],
        'Age':[45,33,56,76,69],
        'City': ['Delhi', 'noida','gaya', 'chipyana', 'mumbai']}

dataframe = pd.DataFrame(data)
print('Initial Data')
print(dataframe)

new_row ={'Name':'pool','Age':45,'City':'NYC'}

insert_index = 3
dataframe.loc[insert_index]= new_row
print(dataframe)

Initial Data
        Name  Age      City
0        Ram   45     Delhi
1      Shyam   33     noida
2  Ghanshyam   56      gaya
3      Santa   76  chipyana
4      Banta   69    mumbai
        Name  Age    City
0        Ram   45   Delhi
1      Shyam   33   noida
2  Ghanshyam   56    gaya
3       pool   45     NYC
4      Banta   69  mumbai

In [27]:
import pandas as pd

fruit_data = {"Fruit": ['Apple', 'Avacado', 'Banana', 'Strawberry', 'Grape'], "Color": ['Red', 'Green', 'Yellow', 'Pink', 'Green'], "Price": [45, 90, 60, 37, 49]

}

#Dataframe

data = pd.DataFrame(fruit_data)

print("Before Updating Column")

print(data)

data=data.rename(columns = {'Fruit': 'Fruit Name', 'Colour': 'Color', 'Price': 'Cost'}) 
print("After Updating Column")

print(data)

Before Updating Column
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49
After Updating Column
   Fruit Name   Color  Cost
0       Apple     Red    45
1     Avacado   Green    90
2      Banana  Yellow    60
3  Strawberry    Pink    37
4       Grape   Green    49

In [ ]:
import pandas as pd

fruit_data = {"Fruit": ['Apple', 'Avacado', 'Banana', 'Strawberry', 'Grape'], "Color": ['Red', 'Green', 'Yellow', 'Pink', 'Green'], "Price": [45, 90, 60, 37, 49]

}

#Dataframe

data =pd.DataFrame (fruit_data)

print("Before Updating Column")

print(data)

data=data.rename (columns = {'Fruit': 'Fruit Name', 'Colour': 'Color', 'Price': 'Cost'}) 
print("After Updating Column")

print(data)

data.columns=data.columns.str.lower() 
print("After Updating Column")

print(data)

print("Display 4th row Value")

print(data.loc[3]) # fetch the data of row at index 3 
data.loc[3] = ['PineApple', 'Yellow', 48]

print("After Updating Values") 
print(data)
print(data.loc[3, ['Fruit']])

In [36]:
import pandas as pd

fruit_data = {"Fruit": ['Strawberry',  'Grape', 'Apple', 'Avacado', 'Banana'], "Color": ['Red', 'Green', 'Red', 'Green', 'Yellow'], "Price": [51, 70, 95, 37, 59]}



data =pd.DataFrame (fruit_data)

print("Original Dataset")

print(data)



data.loc[data['Price'] >60, 'Remarks'] = 'Expensive'

data.loc[data['Price'] <60, 'Remarks'] = 'Not Expensive'

print("After Updating Values")

print(data)

Original Dataset
        Fruit   Color  Price
0  Strawberry     Red     51
1       Grape   Green     70
2       Apple     Red     95
3     Avacado   Green     37
4      Banana  Yellow     59
After Updating Values
        Fruit   Color  Price        Remarks
0  Strawberry     Red     51  Not Expensive
1       Grape   Green     70      Expensive
2       Apple     Red     95      Expensive
3     Avacado   Green     37  Not Expensive
4      Banana  Yellow     59  Not Expensive